.productDetail{
    background-color: white;
    color:white;
    box-shadow: 5px 5px 4px 5px #888888;
}
.productDetialInfo{
    background-color: black;
    text-align: left;
    color:white;
    padding-top: 10%;
    padding-left: 2%;

}
