.product{
    margin:  5% ;
    background-color: white;
    color:white;
    text-align: center;
    padding-bottom: 5%;
    box-shadow: 5px 5px 4px 5px #888888;
}
.productInfo{
    background-color: black;
    padding:0 5% 5% 5%;
    text-align: left;
}
.productInfo button{
 margin-left:30%;
 padding: 0 30px;
 margin:4px;

}
.productInfo p{
    margin:0em;
}