*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
}
.registration{
    width:45%;
    margin: 5% auto;
    padding: 4% 1% ;
    height:70vh;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 2px #888888;
}
.registration .loginbutton,textarea,input[type=email],input[type=text],input[type=password],input[type=submit]{
    width: 70%;
    height:8% ;
    margin: 1%;
    padding: 1%;

    border-radius:.4rem;
    border: 1px solid silver;
}

 .form-submit{
    padding: 2%;
     background: black;
     border: none;
     color:white;
}
.loginbutton{
    padding: 1%;
     background: black;
     border: none;
     color:white;
}
p{
    font-weight: bold;
}
@media only screen and (max-width: 667px) {
    .registration{
        width:80%;
        margin: 10% ;
        padding:  0% ;
        height:80vh;
    }
    .loginbutton,input{
        width: 80%;
        height:8% ;
        border-radius:.4rem;
        border: 1px solid silver;
    }
   
  }
  @media only screen and (max-width: 670px) {
    .registration{
        width:85%;
        margin: 10% ;
        padding:  5% 0 ;
        height:60vh;
    }
   
    .loginbutton,input{
        width: 80%;
        height:10% ;
        border-radius:.4rem;
        border: 1px solid silver;
    }
   
  }
 